@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap");
.tittle {
    font-size: 3em;
}

.main {
    background: transparent;
    backdrop-filter: blur(0);
}

.main p {
    font-family: "Roboto", sans-serif;
}

.imgContainer {
    width: 96%;
    max-width: 10em;
    margin: 0 auto;
    position: relative;
}

.img {
    width: 100%;
    height: auto;
    position: absolute;
    transform: translate(-30px, -150px);
    transition: opacity ease 2s;
}

@media only screen and (max-width: 650px) {
    .img {
        opacity: 0;
    }
}