.nav-navbar {
    text-align: center;
    background: rgba(13, 6, 68, 0.4);
    backdrop-filter: blur(30px);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.4s ease;
    position: fixed;
    top: 0;
    width: 50vh;
    height: 100vh;
    z-index: 10;
    background-attachment: fixed;
}

.nav-svg {
    display: flex;
    top: 5px;
    left: 85%;
    cursor: pointer;
}

.nav-img {
    margin-top: 25px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    user-select: none;
}

.nav-section,
.nav-SubSection-head {
    overflow: hidden;
    margin-top: 0px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0px;
    border-radius: 20px;
    text-align: left !important;
}

.nav-SubSection-head,
.nav-SubSection {
    flex-direction: column;
}

.nav-section * {
    cursor: pointer;
}

.nav-label {
    color: rgb(255, 255, 255);
    font-weight: bold;
    flex-direction: row;
    margin-left: 0px;
    padding-top: 5px;
}

.nav-label a {
    text-decoration: none;
    color: #2ecece;
    user-select: none;
}

.nav-section2:hover {
    opacity: 0.5;
    cursor: pointer;
}

.active {
    width: 2.5em;
    transition: all 0.3s ease;
}

.nav-section,
.nav-SubSection-head {
    align-items: left;
    justify-content: left;
}

.active .nav-section,
.nav-SubSection-head {
    align-items: center;
    justify-content: center;
}

.active.nav-section:hover {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

.active #trabajosPracticos,
.active #inicio {
    transform: translate(26px, -50px);
}

.active .nav-label {
    opacity: 0;
    width: 50px;
    height: 50px;
}

.nav-SubSection {
    padding-left: 5px;
    margin: 0;
    font-size: 0.7rem;
}

.nav-SubSection {
    display: flex;
    position: absolute;
    transform: translateY(4em) !important;
    opacity: 0;
    z-index: -1;
    transition: all 0.3s ease;
    margin: 0;
    flex-direction: column;
    box-sizing: border-box;
    pointer-events: none;
}

.nav-item {
    font-size: 0.8em;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.nav-SubSection .nav-item {
    text-decoration: none;
    color: #2ecece;
    user-select: none;
    font-weight: bold;
    border-left: 3px solid #2ecece;
    padding-left: 12px;
    background: linear-gradient(to right, #2ecece8c 20%, transparent);
}

.nav-SubSection .nav-item:hover {
    opacity: 0.5;
    z-index: 1;
}

.collapse-works {
    opacity: 1;
    transition: all 0.3s ease;
    pointer-events: all;
}

.nav-section-main {
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    cursor: default;
}

.tittle {
    user-select: none;
    font-size: 1.5rem;
    margin-bottom: 25px;
}

.nav-tittle {
    font-size: 1rem;
    font-weight: bold;
    flex-direction: row;
    margin-left: 0px;
    text-decoration: none;
    color: #2ecece;
    user-select: none;
}

.nav-tittle:hover {
    color: #2ecece;
}

.collapse-works label {
    border-left: 3px solid rgb(103, 155, 252);
    padding-left: 10px;
}

.nav-dropdown-menu_head {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-dropdown-menu_head img {
    margin: 1em;
    margin-top: 2.5em !important;
}

.nav-menu {
    position: fixed;
    top: 0px;
    transition: all 0.3s ease;
    cursor: pointer;
    z-index: 200;
    left: 25px;
}